.env*
.eslintcache
.npm
.vercel
.vscode/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/artifacts
/bin
/build
/coverage
/node_modules
/out/
artifacts
cache
coverage
coverage.json
dist/
node_modules
npm-debug.log*
package-lock.json
pip-log.txt
secring.*
typechain
yarn-debug.log*
yarn-error.log*
!.env.example